alias ..='cd ..'
alias apt-get='sudo apt-get'
alias x='xdg-open'
alias c='clear'
alias reboot='sudo reboot'
alias diff='colordiff'
alias ping='ping -c 5'
alias wget='wget -c'
alias re="exec $SHELL"
alias myip="ifconfig | grep inet\ addr"

alias apts="apt-cache search"
alias apti="sudo apt-get install"
alias aptl="dpkg --get-selections"

alias school="~/School"
alias 6.004="~/School/6.004"
alias 6.005="~/School/6.005"
alias 6.006="~/School/6.006"
alias 6.036="~/School/6.036"

alias ggs="git status"
alias ggd="git diff"
alias gcm="git commit -am"