alias x='xdg-open'
alias diff='colordiff'
alias ping='ping -c 5'
alias wget='wget -c'
alias re="exec $SHELL"
alias myip="ifconfig | grep inet\ addr"
alias clipcopy="xclip -selection clipboard"
alias clippaste="xclip -selection clipboard -o"
alias arrsync='rsync --archive --itemize-changes --compress --partial --progress -vv'

alias apts="apt-cache search"
alias apti="sudo apt install"
alias aptl="dpkg --get-selections"

alias ggs="git status"
alias ggd="git diff"
alias gcm="git commit -am"
alias ggp="git push"
alias gca="git commit -a --amend"

function mkgo() {
  if [ -n "$@" ]
  then
    mkdir "$@"
    cd "$@"
  fi
}

alias vim="gvim -v"
alias vi="gvim -v"
alias hashpass="python ~/git/hashpass/hashpass.py"

