[user]
	email = jess@jesskenney.com
	name = Jess Kenney
[push]
	default = simple
[color]
	ui = true
[branch]
	autosetuprebase = always
[alias]
    l = log --all --graph --oneline --decorate
    roar = !git fetch origin master:master && git rebase master
